{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class = "table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for portfolio in portfolios %}
            <tr>
                <td>{{portfolio["symbol"]}}</td>
                <td>{{portfolio["shares"]}}</td>

                <td>{{portfolio["price"] | usd}}</td>

                <td>{{portfolio["date"]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}